html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* header Start */
.header {}

/* headerTopBar Start */
.headerTopBarLR {
  width: 100%;
  background-color: #333;
}

.headerTopBar {
  width: 86%;
  margin: 0 auto;
  background-color: #333;
  height: 40px;
  display: flex;
  line-height: 40px;
  justify-content: space-between;
}

.headerTopBar li,
.headerTopBar .sep,
.headerTopBar div {
  font-size: 12px;
  color: #b0b0b0;
  padding-left: 3px;
}

.headerTopBarNav>li {
  display: inline-block;
}

.headerTopBarUser>li {
  display: inline-block;

}

.headerTopBarShopCar {
  width: 110px;
  height: 40px;
  display: flex;
  background-color: #424242;
}

.headerTopBarShopCar>img {
  text-align: center;
  margin: 11%;
  width: 20px;
  height: 20px;
}

/* headerTopBar End */

/* headerContainer Start */
.headerContainer {
  width: 86%;
  height: 120px;
  background-color: antiquewhite;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.headerContainerLeftIcon {
  text-align: center;
}

.headerContainerLeftIcon>img {
  width: 56px;
  height: 56px;
  margin-left: 70%;
}

/* hover Start*/
main {
  position: relative;
  width: 900px;
  height: 120px;
  background-color: aliceblue;
}

.headerContainerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.headerContainerNav>li:first-child,
.headerContainerNav>li:first-child>section {
  visibility: visible;
  color: #ff6700;
}

.headerContainerNav:hover li {
  color: #333;
  transition: none;

}

.headerContainerNav li:hover {
  color: #ff6700;
  transition: none;

}

.headerContainerNav:hover li section {
  visibility: hidden;
  transition: none;
}

.headerContainerNav li:hover section {
  visibility: visible;
  transition: none;
}

.headerContainerNav li section {
  visibility: hidden;
  transition: 0s 99s;
}

.headerContainerNav li {
  float: left;
  margin: 10px;
}

.headerContainerNav li {
  font-size: 16px;
  line-height: 85px;
  height: 85px;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  transition: 0s 99s;
  /* flex-grow: 1; */
  text-align: center;
}

section {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  bottom: 0;
  visibility: hidden;

}

.headerContainerNavPic {
  margin-top: 72px;
  margin-left: -80px;
  width: 1200px;
  background-color: green;
  display: flex;
  justify-content: center;
}

.headerContainerNavPic img {
  width: 200px;
  margin: 50px 0;
}

.headerContainerNavPic span {
  font-size: 12px;
  line-height: 20px;
  display: block;
}




/* hover End*/

.headerContainerSearch {
  display: flex;
  width: 220px;
  height: 50px;
  border: 1px solid black;
}

.headerCOntainerSearch input {
  width: 300px;
  height: 50px;
  padding: 0 10px;
  font-size: 50px;
  line-height: 48px;
  border: 1px solid black;
}

.headerContainerSearch div {
  text-align: center;
}

.headerContainerSearch img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
/* headerContainer End */
/* header End */

/* phoneContainer Start */
.phoneContainer {
  height: 614px;
  width: 86%;
  margin: 0 auto;
}
.ContainerTxtHeader {
  width: 100%;
  margin: 0 auto;
}

.ContainerTxtHeader>span:first-child {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.ContainerTxtHeader>span:last-child {
  cursor: pointer;
}

.ContainerTxtHeader>span:last-child:hover {
  color: #ff6700;
}

.ContainerTxtHeaderIconBox {
  width: 20px;
  height: 20px;
  background-color: #b0b0b0;
  display: inline-block;
  float: right;
  border-radius: 50%;
  display: flex;
  margin: 20px 10px;
}

.ContainerTxtHeader img {
  width: 16px;
  margin: auto;
}

.ContainerTxtHeader>span:last-child {
  float: right;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
}

.ContainerImgBox {
  width: 100%;
  height: 614px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 50px;
}

.ContainerImgBox>img {
  width: 234px;
  height: 614px;
}

.ContainerImgBox>img:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
	transform: translate3d(0,-2px,0);
}

.ContainerImgBox>div {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 230px;
  height: 300px;
}

.ContainerImgBox>div:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
	transform: translate3d(0,-2px,0);
}

.ContainerImgBox>div>img {
  width: 160px;
  height: 160px;
  margin: 20px auto;
}

.ContainerImgBox>div>span {
  display: block;
  text-align: center;
}

.ContainerImgBox>div>span:nth-child(2) {
  font-size: 14px;
  line-height: 22px;
}

.ContainerImgBox>div>span:nth-child(3) {
  font-size: 12px;
  color: #b0b0b0;
  line-height: 22px;

}

.ContainerImgBox>div>span:nth-child(4) {
  font-size: 14px;
  color: #ff6700;
  line-height: 30px;

}
/* phoneContainer End */

/* smartWearContainer Start */
.smartWearContainer {
  width: 86%;
  margin: 100px auto;
  border: 1px solid black;
  display: flex;
}

.smartWearLeft {
  width: 234px;
  height: 672px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.smartWearLeft>img {
  width: 234px;
  height: 614px;
}

.smartWearLeft>img:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
	transform: translate3d(0,-2px,0);
}

.smartWearRight {
  width: 100%;
  background-color: green;
}

.smartWearRightHover {
  display: flex;
}

.hoverTittle {
  float: right;
}

.hoverTittle>span {
  margin:0 15px;
  line-height: 50px;
  padding: 3px;
  cursor: pointer;

}

.hoverTittle>span:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;

}

.hoverContainer1 {
  width: 100%;
  background-color: red;


}

.hoverContainer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.hoverContainer1 img {
  width: 160px;
  height: 160px;
  margin: 20px auto;
}

.hoverContainer1 span {
  display: block;

}

.hoverContainer1>div {
  text-align: center;
}
/* smartWearContainer End */
/* smartWearContainer End */







/* footer */
footer {
  margin-top: 100px;
  width: 100%;
  height: 320px;
  background-color: #fafafa;
}

/* footerService Start */
.footerService {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  line-height: 100px;
  border-bottom: 1px solid #42424226;
}

.footerService>div {
  width: 25%;
  height: 100px;
  text-align: center;
}

.footerService>.sep {
  color: #42424226;
}

/* footerService End */

/* footerLinks Start */
.footerLinks {
  width: 86%;
  margin: 0 auto;
  color: #333;
  display: flex;
}

/* footerLinksLeft Start */
.footerLinksLeft {
  width: 80%;
  align-items: center;
}

.footerLinksLeft>dl {
  float: left;
  margin: 30px 55px 0 0;
  font-size: 14px;
  color: #424242;
}

.footerLinksLeft>dl>dt {
  margin: 0 0 20px 40px;
  font-size: 14px;
  line-height: 1.25;
}

.footerLinksLeft>dl>dd {
  font-size: 12px;
  line-height: 30px;
}

.footerLinksLeft>dl>dd:hover {
  color: #ff6700;
  cursor: pointer;
}

/* footerLinksLeft End */

/* footerLinksRight Start */
.footerLinksRight {
  width: 20%;
}

.footerLinksRight * {
  display: block;
  text-align: center;
}

.footerLinksRight>span:first-child {
  font-size: 22px;
  color: #ff6700;
  margin: 30px auto 0 auto;
}

.footerLinksRight>span:nth-child(2) {
  font-size: 12px;
}

.footerLinksRight>div {
  border: 1px solid #ff6700;
  font-size: 12px;
  line-height: 28px;
  color: #ff6700;
  width: 100px;
  margin: 5px auto;
}

.footerLinksRight :last-child {
  font-size: 12px;
}

/* footerLinksRight Start */
/* footerLinks End */

/* footerInfo Start */
.footerInfo {
  width: 75%;
  margin-left: 7%;
}

.footerInfo>img.miIcon {
  width: 56px;
  height: 56px;
  float: left;
}

.footerInfo>ul {
  overflow: hidden;
}

.footerInfo>ul>li:nth-child(n - 2) {
  line-height: 18px;
  color: #757575;
  font-size: 12px;
}

.footerInfo>ul>li:nth-child(n + 3) {
  font-size: 12px;
  color: #b0b0b0;
  line-height: 18px;
}

.footerInfo>.fourIcon {
  margin-left: 9%;
}

.footerInfo>.fourIcon>img {
  height: 28px;
}

.footerInfo>span {
  font-size: 20px;
  line-height: 100px;
  color: #b0b0b0;
  vertical-align: middle;
  margin-left: 35%;
}

/* footerInfo End */